node_modules/**/*
.vscode
npm-debug.log

packages/oi4-conformity-validator/node_modules/**/*
packages/oi4-local-ui/node_modules/**/*
packages/oi4-registry-service/node_modules/**/*
packages/oi4-service-node/node_modules/**/*
