**/node_modules
**/build
**/dist
.idea
out/**/*
.DS_Store
**/.env
.env

# VS Code
.vscode
*/.vscode

# IntelliJ
.idea/*
*.iml
/.idea/
/packages/oi4-service-node/.idea/

# Other
/work/
/oi4-oec-dnp-encoding/
/docker_configs/
